a {
	color: $color__link;
	text-decoration: none;
	transition: all .2s cubic-bezier(0.22, 0.61, 0.36, 1);

	&:hover,
	&:focus,
	&:active {
		color: $color__link-hover;
	}
	&:focus {
		outline: thin dotted;
	}
	&:hover,
	&:active {
		outline: 0;
	}
}
